<?xml version="1.0" ?>
<!DOCTYPE service-group  SYSTEM 'avahi-service.dtd'>
<service-group>
  <name replace-wildcards="yes">AirPrint Brother_HL_2070N @ %h</name>
  <service>
    <type>_ipp._tcp</type>
    <subtype>_universal._sub._ipp._tcp</subtype>
    <port>631</port>
    <txt-record>txtvers=1</txt-record>
    <txt-record>qtotal=1</txt-record>
    <txt-record>Transparent=T</txt-record>
    <txt-record>URF=DM3</txt-record>
    <txt-record>rp=printers/Brother_HL_2070N</txt-record>
    <txt-record>ty=Brother HL-2460 - CUPS+Gutenprint v5.2.11</txt-record>
    <txt-record>note=Büro</txt-record>
    <txt-record>product=(Brother HL-2460)</txt-record>
    <txt-record>printer-state=3</txt-record>
    <txt-record>printer-type=0x1016</txt-record>
    <txt-record>pdl=application/octet-stream,application/pdf,application/postscript,image/jpeg,image/png,image/pwg-raster,image/urf</txt-record>
  </service>
</service-group>